{% extends 'base.html' %}

{% block title %}
  Add post
{% endblock %}

{% block body %}
  <h1>Add users</h1>
  <form method="post" class="w-50">

    {{ form.hidden_tag() }}
    {{ form.name.label(class='form-label') }}
    {{ form.name(class='form-control', placeholder='Name') }}
    {{ form.username.label(class='form-label') }}
    {{ form.username(class='form-control', placeholder='Username') }}
    {{ form.mail.label(class='form-label') }}
    {{ form.mail(class='form-control', placeholder='Email') }}
    {{ form.post.label(class='form-label') }}
    {{ form.post(class='form-control', placeholder='Text') }}

    {% if form.errors %}
      <div class="errors my-2">
        {% for name, errors in form.errors.items() %}
          <div class="alert alert-danger">
            {% if name %}
              <strong>{{ name }}</strong>
            {% endif %}
            <ul>
              {% for error in errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <button type="submit" class="btn btn-primary my-2">Create</button>
  </form>
  <br>
  <div>
    <a href="{{ url_for('index') }}">
      Back to users list
    </a>
  </div>
{% endblock %}
